<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of listUser">

                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>
                    <a [routerLink]="['/users',u.id]">
                        <button class="btn btn-success">voir Todo</button>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

</div>